@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

#__next {
  min-height: 100vh;
}

* {
  transition: 250ms;
}

a {
  text-decoration: none;
}

.bar-of-progress {
  z-index: 1123;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.float-animation {
  -webkit-animation: float 2.5s;
  animation: float 2.5s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

button {
  cursor: pointer;
}

.gradient-text {
  background: #d9ed92;
  background: linear-gradient(to right, #d9ed92 0%, #b5e48c 100%);
  background: -webkit-linear-gradient(to right, #d9ed92 0%, #b5e48c 100%);
  background: -moz-linear-gradient(to right, #d9ed92 0%, #b5e48c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &::selection {
    color: #fff;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-text-fill-color: #fff;
  }
}

.dag-gradient {
  background-image: linear-gradient(45deg, #d9ed92 0%, #b5e48c 100%);
  background-image: -webkit-linear-gradient(45deg, #d9ed92 0%, #b5e48c 100%);
  background-image: -moz-linear-gradient(45deg, #d9ed92 0%, #b5e48c 100%);
}

.gradient-border {
  border-style: solid;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(to right, #d9ed92 0%, #b5e48c 100%);
  border-image-source: -webkit-linear-gradient(to right, #d9ed92 0%, #b5e48c 100%);
  border-image-source: -moz-linear-gradient(to right, #d9ed92 0%, #b5e48c 100%);
}

::selection {
  background: #70ce29;
  color: #fff;
}

img::selection {
  background: #70ce2940;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0f0f0e;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: linear-gradient(to top, #d9ed92 0%, #b5e48c 100%);
  background: -webkit-linear-gradient(to top, #d9ed92 0%, #b5e48c 100%);
  background: -moz-linear-gradient(to top, #d9ed92 0%, #b5e48c 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.show-more {
  cursor: pointer;

  & + input {
    display: none;

    & + * {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.75s, overflow 0s;
    }
  }

  & + input:checked + * {
    max-height: 100em;
    overflow: auto;
    transition: max-height 1.5s, overflow 0.5s 0.5s;
  }
}

.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #b5e48c;
  outline: none;
  border-radius: 10px;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #b5e48c;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.frog-hidden {
  opacity: 0;
  filter: blur(4px);
  transform: translateX(-100%);
  transition: all 750ms;

  &:nth-child(even) {
    transform: translateX(100%);
  }
}

.frog-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);

  &:nth-child(even) {
    transform: translateX(0);
  }
}
