.news-ticker-container {
  overflow: hidden;
  width: 100%;
}

.news-ticker-move {
  display: flex;
  animation: tickermove linear 50s infinite;
}

@keyframes tickermove {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    /* -(number of items * 100)% */
    transform: translate3d(-1600%, 0, 0);
  }
}

.nt-item {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .nt-item {
    font-size: 12px;
  }
}
