.rand-image-generator-img-hidden {
  opacity: 0;
  filter: blur(4px);
  transform: translateY(-100%);
  transition: all 750ms;
}

.rand-image-generator-img-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
